@import '../common.styl'

.popup
  display: flex
  flex-direction: column
  align-items: stretch
  justify-content: space-between
  border-radius: 10px 10px 6px 6px

  +maxWidth(400px)
    border-radius: 0

.dateSelector
  padding: 16px 16px 0

  .datePicker
    margin: 0 auto

.timeSelector
  padding: 16px 16px 0

  .timePicker
    margin: 0 auto


.buttons
  display: flex
  justify-content: flex-end
  padding: 0 16px 16px

  &.dateSelectorButtons
    margin-top: -12px

  &.timeSelectorButtons
    margin-top: 24px


.header
  padding: 16px
  background-color: #29B6F6
  color: #ffffff
  border-radius: 6px 6px 0 0

  +maxWidth(400px)
    border-radius: 0

  .headerTitle
    display: flex
    justify-content: space-between
    align-items: center
    font-size: 22px
    font-weight: 500

    svg
      cursor: pointer
      path
        fill: #f0f0f0
      
      &:hover
        path
          fill: #f8f8f8
      
      &:active
        path
          fill: #ffffff

  .headerValue
    margin-top: 8px
    font-size: 14px
    color: rgba(255,255,255,0.9)