
.root
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 16px
  box-sizing: border-box
  background-color: #ffffff
  border-bottom: 1px solid #f0f0f0

.logo
  font-size: 20px

.user
  display: flex;
  align-items: center

.userImage
  margin-left: 16px
  width: 40px
  height: 40px
  border-radius: 100%
  background-size: cover
  background-repeat: no-repeat
  background-position: center center