@import '../common.styl'

.monthName
  text-align: center
  font-weight: 500

.cell
  text-align: center



.arrowLeft,
.arrowRight
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer

  svg
    width: 14px

  path
    fill: #a0a0a0

  &:hover
    background-color: #f0f0f0

    path
      fill: #909090

  &:active
    background-color: #eaeaea

    path
      fill: #808080

.arrowLeft
  transform: rotate(-90deg)

.arrowRight
  transform: rotate(90deg)



.day
  font-size: 16px
  cursor: pointer

  &:hover
    background-color: #f4f4f4
  &:active
    background-color: #eeeeee

  &.disabled
    color: #c0c0c0
    cursor: default
    background-color: #ffffff

  &.isToday
    background-color: #E3F2FD

    &:hover
      background-color: #dbf0ff
    &:active
      background-color: #d4edff

  &.isWeekend
    color: #EF6C00
  
    &.disabled
      color: #fbd0ad

  &.isActive
    background-color: #29B6F6
    color: #ffffff
    font-weight: 500

    &:hover
      background-color: #29B6F6
    &:active
      background-color: #29B6F6



.weekDay
  font-size: 14px
  color: #808080
  
  &.isWeekend
    color: #ea8b3d



.root
  display: flex
  flex-wrap: wrap
  align-content: flex-start
  font-size: 18px
  user-select: none

  &.size_m
    width: calc(40px * 7 + 2px * 6)
    height: calc(40px * 8 + 2px * 7)

    .monthName
      width: calc(200px + 2px  * 4)
      height: 40px
      line-height: 40px
      margin: 0 2px
      font-size: 16px

    .cell
      width: 40px
      height: 40px
      line-height: 40px
      border-radius: 4px

    .day
      margin: 2px 0 0 2px
      &.isMonday
        margin-left: 0

    .weekDay
      margin: 2px 0 0 2px
      &.isMonday
        margin-left: 0
